<div class="popUp" id="shipPopUp">
        <span id="close-button" class="closeButtonHolder" onclick="closeShipPopUp()">&times;</span>

        <span class="shipName">Millenium Falcon</span>

        <div class="shipDescriptionHolder">
            <div class="shipImageAndLocationHolder">
                <img src="viper.png" class="shipImageHolder">
                <span class="shipLocationHolder">
                    <div id="shipLocationText">[4, 25]</div>
                </span>
            </div>
            <div class="cargoHolder">
                <div class="item">Cargo</div>

                <div class="item">
                    <div class="itemImage">
                        <img src="potato.png">
                    </div>
                    <span class="itemName">Potatoes</span>
                    <span class="itemAmount">123</span>
                </div>

                <div class="item">
                    <div class="itemImage">
                        <img src="Carrot">
                    </div>
                    <span class="itemName">Carrots</span>
                    <span class="itemAmount">15.5</span>
                </div>

                <div class="item">
                    <div class="itemImage">
                        <img src="Sand">
                    </div>
                    <span class="itemName">Sand</span>
                    <span class="itemAmount">89</span>
                </div>

                <div class="item">
                    <div class="itemImage">
                        <img src="gold.jpg">
                    </div>
                    <span class="itemName">Gold</span>
                    <span class="itemAmount">2.5</span>
                </div>

            </div>
        </div>

        <div class="shipPopUpBottomBar">
            <div class="dockDescription">
                <span id="dockedAt">Docked at:</span>
                <div class="shipPopUpPlanetImage" onclick="popUpPlanet()">
                    <img src="earth">
                </div>
            </div>

            <div class="buySellChart">

                <div class="itemsHolder" id="buyItems">
                    <div class="item">Buy</div>
                    <div class="item">
                        <div class="itemImage">
                            <img src="potato.png">
                        </div>
                        <span class="itemName">Potatoes</span>
                        <span class="itemBuyPrice">123</span>
                    </div>

                    <div class="item">
                        <div class="itemImage">
                            <img src="Sand">
                        </div>
                        <span class="itemName">Sand</span>
                        <span class="itemBuyPrice">123</span>
                    </div>
                </div>

                <div class="itemsHolder" id="sellItems">
                    <div class="item">Sell</div>
                    <div class="item">
                        <div class="itemImage">
                            <img src="gold.jpg">
                        </div>
                        <span class="itemName">Gold</span>
                        <span class="itemBuyPrice">2.5</span>
                    </div>
                </div>

            </div>
        </div>

    </div>