<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Star Bargain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/startScreen.css">
</head>

<body class="wrapper">
    <div id="modal"></div>
    <header class="wrapHeader">
        <h2>Star Bargain</h2>
    </header>

    <main class="wrapMain">
        <div id="pseudonimPopup" class="wrapPopup">
            <span class="close-button" onclick="closePopup()">&times;</span>
            <form action="/chooseSituation" method="POST">
                <input type="text" name="username" placeholder="Your name..." required="required"><br>
                <input type="submit" value="Submit"><br>
            </form>
        </div>

        <div id="highScoresList" class="wrapHighScores"></div>

        <button type="button" id="playButton" class="wrapPlayButton" onclick="pseudonimPopup()">
            Play
        </button>
    </main>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</body>

</html>